@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.calc_frame {
    background-color: #1e4a86;;
    width: 450px;
    height: 700px;
    margin: 25px;
    padding: 40px;
    border-radius: 30px;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(167, 175, 181);
    margin: 0px;
}

.display {
    display: flex;
    flex-direction: row-reverse;
    background: #7fa28f;
    font-size: 55px;
    border: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: #6d8785;
    white-space: nowrap;
    overflow: hidden;
}

.cntnr_logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}

.cntnr_branding {
   display: flex; 
   gap: 30px;
   margin: 10px 0px;
   font-family: 'Robot Slab', 'Times New Roman', Times, serif;
   font-weight: 1000;
   color: white;
}

.img_logo {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

.model {
    font-size: 50px;
}

.cntnr_btn {
    display: flex;
    gap: 25px;
}

.btn_numsPow, .cntnr_operators {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

[class^="row"] {
    display: inherit;
    gap: inherit;
}