@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.calc_frame {
    background-color: #1e4a86;;
    width: 425px;
    height: 700px;
    margin: 25px;
    padding: 40px;
    border-radius: 30px;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(167, 175, 181);
    margin: 0px;
}

.display {
    display: flex;
    flex-direction: row-reverse;
    background: #7fa28f;
    font-size: 55px;
    border: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: #6d8785;
    white-space: nowrap;
    overflow: hidden;
    height: 66px;
}

.cntnr_logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 10px;
}

.cntnr_branding {
   display: flex; 
   gap: 30px;
   margin: 10px 0px;
   font-family: 'Robot Slab', 'Times New Roman', Times, serif;
   font-weight: 1000;
   color: white;
}

.img_logo {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

.model {
    font-size: 50px;
}

.cntnr_btn {
    display: flex;
    gap: 50px;
    align-items: end;
}

.cntnr_numsPow, .cntnr_operators {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

[class^="row"] {
    display: inherit;
    gap: inherit;
}

.solarCell {
    display: flex;
    margin-bottom: 20px;
}

[class^="cell"] {
    background-color: #3d554f;
    width: 55px;
    height: 55px;
    border-style: solid;
    border-right-style: none;
}

.cell4 {
    border-right-style: solid;
}

.cntnr_numsPow > div > button, 
.cntnr_operators > button {
    border-radius: 5px;
    width: 85px;
    height: 60px;
    display: flex;
    padding-left: 10px;
    border-width: 5px;
    font-weight: 1000;
    font-size: 22px;
}

.cntnr_numsPow > div > button {
    background-color: white;
    border-color: #b9b9b9;
}

.cntnr_operators > button, .red, .ad {
    background-color: red !important;
    border-color: darkred !important;
    color: white;
}

.calculate {
    height: 140px !important;
}

.ad {
    font-weight: 1000;
    text-align: center;
    height: 140px;
    width: 295px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-width: 7px;
}

.ad > div {
    width: 80%;
}